.carousel-cell {
  width: 100%;
  height: 50vh;
  min-height: 250px;
  background-size: cover;
}

.container {
  width: 1200px;
  text-align: center;
  position: absolute;
}

.flickity-page-dots { display: none; }

.scroll-progress {
  height: 25px;
  width: 0px;
  background: orangered;
}